#searchbarsignup {
  padding-left: 275px;
}

.wordcolor {
  color: white;
}

#jumbosignup {
  background-color: orange;
}

.signup {
  padding-left: 25px;
}

#blackborder {
  border: 1.5px solid black;
}

.formsize {
  width: 450px;
}

#shiftuser {
  padding-left: 5px;
}
.bottompara {
  color: white;
  padding-left: 28px;
  font-size: 24px;
}
