#searchbarlogin {
  padding-left: 275px;
}

#jumbologin {
  background-color: orange;
}

.signin {
  padding-left: 25px;
}

#pushemail {
  padding-left: 5px;
}

.bottomparagraph {
  color: white;
  padding-left: 28px;
  font-size: 24px;
}

#bottomjumbotronsize {
  height: 200px;
}
