#searchbaraboutus {
  padding-left: 275px;
}

#navBarSearchFormAboutUs {
  height: 57px !important;
  width: 850px !important;
}

.whywedothis {
  padding-left: 650px;
}

#aboutparagraph {
  padding-left: 642px;
  font-size: 22px;
  width: 1410px;
}

.meetteam {
  color: black;
  padding-left: 36%;
  font-size: 80px;
}

#picturescenter {
  padding-left: 23%;
}

.pics {
  width: 180px;
  margin-right: 240px;
}

.allthere {
  padding-left: 95px;
}

.descriptionSeife {
  font-size: 16px;
  padding-left: 360px;
  width: 700px;
}

.descriptionRahmel {
  font-size: 16px;
  padding-left: 110px;
  width: 490px;
}

.descriptionRachel {
  font-size: 16px;
  padding-left: 60px;
  width: 450px;
}

.followright {
  padding-left: 115px;
  width: 1390px;
}

.followus {
  font-size: 90px;
  padding-left: 840px;
}

.linkedinSeife {
  width: 670px;
  padding-left: 570px;
}

.linkedinRahmel {
  width: 425px;
  padding-left: 325px;
}

.linkedinRachel {
  width: 415px;
  padding-left: 315px;
}

.shiftlinkedin {
  padding-right: 60px;
}

#centerlocation {
  padding-left: 850px;
}

#centermidtown {
  padding-left: 835px;
}

.locationcenter {
  padding-left: 115px;
}